target/
!.mvn/wrapper/maven-wrapper.jar
!target/classes
!target/test-classes

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### Logs & Environment ###
*.log
.env
.env.local
